{{#is "home"}}
  <ul class="nav">
    {{#foreach navigation}}
      <li class="{{link_class for=(url) class=(concat "nav-" slug)}}"><a
          href="{{url}}"
        >{{label}}</a></li>
    {{/foreach}}
  </ul>
{{else}}
  <ul class="nav">
    {{#get "posts" filter=(concat "tag:hash-" (block "lang"))}}
      {{#foreach posts}}
        <li class="{{link_class for=(url) class=(concat "nav-" slug)}}"><a
            href="{{url}}"
          >{{title}}</a></li>
      {{/foreach}}
    {{/get}}
  </ul>
{{/is}}